.results {
    background-color: #f1f2f8;
}


.adv {
    border: 1px solid #019D8D;
    color: #019D8D;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 4px;
}

.sponsor-link {
    /* color: #019D8D; */
}

.results-items {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.results-items>.col,
.results-items>.col-lg-8 {
    padding: 0;
}

.results-items .card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}


.results-items .first::before,
.results-items .first::after,
.results-items .second::before,
.results-items .second::after {
    content: ' ';
    background-color: #f1f2f8;
    border-radius: 50%;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    box-shadow: 0 0 -20px 0 rgba(0, 0, 0, 0.2);
}

.results-items .first::before {
    top: auto;
    bottom: -10px;
}

.results-items .second::before {
    left: -10px;
    right: auto;
}

.results-items .second::after {
    top: auto;
    left: -10px;
    bottom: -10px;
}

.time {
    font-size: 1.7rem;
    margin-bottom: 0;
}

.duration hr {
    height: 2px;
    background-color: #888392;
    margin-bottom: 0.8rem;
}

.duration .col,
.duration .col-auto {
    padding: 0;
}

.duration i {
    /* margin-top: 9px; */
    margin-left: 3px;
    color: #888392;
}

.duration .diretto {
    color: mediumseagreen;
    font-weight: 600;
}

.second .price {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 900;   
}